*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body{
	font-size:20px;
    overflow-x: hidden;
    color:white;
    font-family: 'Flamenco', cursive;

}
header{
background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/bg1.jpg') ;
background-size:cover;
background-repeat: no-repeat;
background-position: center;
height:100vh;
}
.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0 px;
	clear: both;
}
.row{
	max-width:1180px;
	margin:0 auto;
}
.logo{
	height:10%;
	width:10%;
	margin:30px;
	float:left;
}

.main-nav ul li a{
	text-decoration: none;
	color:white;
	font-size:90%;
   font-weight:100;
}
.main-nav ul li{
	display: inline-block;
	padding:15px;
	float:right;
	margin-top:25px;
}
.main-nav ul li a:hover{
	border-bottom:2px solid pink;
}

.main{
  width:1180px;
position: absolute;
top:60%;
left:50%;
transform: translate(-50%,-50%);
}

.main h1{
	color: white;
	font-size: 240%;
	word-spacing: 10px;
	letter-spacing: 3px;
	margin-bottom: 20px;
    font-weight: lighter;
}

.btn, .btn2{
 	display: inline-block;
      padding: 10px 30px;
      text-decoration: none;
     
      border-radius: 200px;
      transition: background-color 0.2s , border 0.2s, color 0.2s;
      border: 1px solid white;
      color:yellow;
      font-style: bold;
}
.btn2{
	margin:30px;
}
.btn-f{
background-color: transparent;
margin-right: 15px;
}
.btn:hover, .btn2:hover{
	background-color: white;
	font-size:22.5px;
	color:black;
}
.color-change{
animation: colorchangebuzz 2s infinite;
}

@keyframes colorchangebuzz{
	0%{color:red;}
	25%{color:darkgreen;}
	50%{color:pink;}
	100%{color:blue;}
}
.mobile-icon{
	display:none;
}
/*///////////responsive queries///////////
*/
@media only screen and (max-width: 1180px){
	.main{
		width: 100%;
		padding: 0 2%;
	}
}
@media only screen and (max-width: 998px){
	 .main h1{
		font-size:200%; 
	}
}
@media only screen and (max-width: 768px){
	 .main h1{
		font-size:180%; 
	}
	.list-nav{display: none;}
	.mobile-icon{
		margin: 20px 20px;
		float:right;
		color:white;
		display: inline-block;
	}
    .list-nav li{
    	float:left;
    }
	.list-nav li{
		display: block;
		margin-top: 10px;

	}
}